<div class="container">
  <div class="row mt-5">
      <div class="col">
          <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">Stripe Payment</h5>
                  <a routerLink="/StripePayment" class="btn btn-primary">Stripe Payment</a>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">RazorPay Payment</h5>
                  <a routerLink="/RazorPay" class="btn btn-primary">RazorPay Payment</a>
              </div>
          </div>
      </div>
      <div class="col">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Decorator</h5>
                <a routerLink="/Decorator" class="btn btn-primary">Decorator</a>
            </div>
        </div>
    </div>
  </div>
</div>
